{% extends "base.html" %}

{% block body %}

<div class="chat-page">
    <div class="chats">
        <div class="chat-name"> 
            Chat
        </div>
    </div>
    <div class="messages-container">
        <div class="messages">
            <div class="incoming-message">
                <div class="incoming-avatar-container">
                    <img src="/assets/images/test-your-mind.jpg" alt="" class="avatar-img">
                </div>
                
                <div class="incoming-text-box">
                    <div class="incoming-username">
                        Alan Wake
                    </div>
                    <div class="message-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus magnam suscipit pariatur in asperiores totam optio, laudantium, provident sed debitis commodi excepturi repellat voluptatum quis doloribus saepe, at nisi molestias.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla omnis rerum sequi, expedita laudantium veniam earum aspernatur doloribus iusto, labore praesentium repudiandae optio dignissimos suscipit et, asperiores voluptatibus velit!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis est facere, laboriosam totam minus dignissimos ducimus nam? Sequi explicabo, commodi obcaecati quidem hic itaque laudantium beatae distinctio ducimus, esse pariatur?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel porro necessitatibus est laudantium a libero ullam, voluptatum, nemo reprehenderit et, repudiandae quam. Rem voluptas deleniti provident iure cupiditate cumque suscipit.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus aliquam distinctio autem vel itaque sunt ut suscipit repellat dignissimos eius veniam vero neque tenetur, perferendis, iusto laboriosam quam, doloremque harum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil non enim nobis! Ratione sequi sapiente aliquid soluta voluptate mollitia suscipit! Nihil, ipsa? Placeat enim, sit quasi omnis at repellendus atque.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, distinctio fuga praesentium explicabo consequuntur maiores soluta voluptas corporis laudantium reiciendis nulla atque earum provident odit dolor alias enim sapiente neque.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem facere temporibus quas sapiente maiores mollitia esse, ea veniam perferendis quia saepe fugit suscipit vero tenetur nisi corrupti praesentium eum dolor.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur repellat doloremque ipsum esse id minima, quaerat maxime aut nisi explicabo perferendis, illum, expedita sint blanditiis dolorem eligendi similique provident debitis.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit quibusdam officia maxime aspernatur laudantium necessitatibus exercitationem illo cumque eius culpa itaque ad fugit possimus deserunt, assumenda, architecto ducimus sequi repudiandae!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit at, aut asperiores provident illo ab maiores aliquam perferendis ad nemo, rem facilis tempore earum sint quis, temporibus alias totam quas.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repudiandae laudantium, esse perspiciatis iusto perferendis, rerum necessitatibus earum labore beatae et molestiae? Ipsum quo corrupti, atque deserunt blanditiis dolorum deleniti?
                    </div>
                    <div class="incoming-datetime">
                        11:90
                    </div>
                </div>
            </div>
         

        </div>  
    <div class="message-send container-fluid">
        Vot blyahas
    </div>
    
</div>



{% endblock %}