{% extends "base.html" %}



{% block body %}

<div class="app">
    <div class="chat-list">
        chats
    </div>
    <div class="chat-window">
        <div class="messages">
            <div class="message-other">
                <p>Username</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi doloribus praesentium atque. Sed officia inventore dolore quam nisi dolores, qui delectus ut! Repudiandae impedit architecto suscipit recusandae consequatur ratione.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, illum quibusdam dolorem pariatur neque quod, impedit eveniet temporibus, corporis eaque voluptatem laboriosam. Repellat ullam explicabo, modi excepturi iste natus enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, corrupti eius, facere rerum eveniet perferendis modi nihil odit repellat esse, odio quas. Ducimus magni est maiores quas reiciendis deserunt consectetur.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente delectus labore adipisci exercitationem voluptatum libero ducimus eius quis placeat, odit repudiandae fuga rem aut tempore quam debitis, quos accusamus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus ipsum est velit dolorem, eveniet, magni aliquam sunt animi laudantium eos tempore minus deserunt itaque quidem quas neque nostrum perspiciatis!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi optio numquam harum ullam, veniam laboriosam. Facilis dolore suscipit rerum, iusto quia veniam perspiciatis nulla neque quas voluptates consequuntur ab nisi.
                </p>
            </div>
            <div class="message-me">
                <p>Username</p>
                <p>Lorem
                </p>
            </div>
            <div class="message-other">
                <p>Username</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi doloribus praesentium atque. Sed officia inventore dolore quam nisi dolores, qui delectus ut! Repudiandae impedit architecto suscipit recusandae consequatur ratione.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, illum quibusdam dolorem pariatur neque quod, impedit eveniet temporibus, corporis eaque voluptatem laboriosam. Repellat ullam explicabo, modi excepturi iste natus enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, corrupti eius, facere rerum eveniet perferendis modi nihil odit repellat esse, odio quas. Ducimus magni est maiores quas reiciendis deserunt consectetur.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente delectus labore adipisci exercitationem voluptatum libero ducimus eius quis placeat, odit repudiandae fuga rem aut tempore quam debitis, quos accusamus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus ipsum est velit dolorem, eveniet, magni aliquam sunt animi laudantium eos tempore minus deserunt itaque quidem quas neque nostrum perspiciatis!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi optio numquam harum ullam, veniam laboriosam. Facilis dolore suscipit rerum, iusto quia veniam perspiciatis nulla neque quas voluptates consequuntur ab nisi.
                </p>
            </div>
            <div class="message-me">
                <p>Username</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi doloribus praesentium atque. Sed officia inventore dolore quam nisi dolores, qui delectus ut! Repudiandae impedit architecto suscipit recusandae consequatur ratione.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, illum quibusdam dolorem pariatur neque quod, impedit eveniet temporibus, corporis eaque voluptatem laboriosam. Repellat ullam explicabo, modi excepturi iste natus enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, corrupti eius, facere rerum eveniet perferendis modi nihil odit repellat esse, odio quas. Ducimus magni est maiores quas reiciendis deserunt consectetur.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente delectus labore adipisci exercitationem voluptatum libero ducimus eius quis placeat, odit repudiandae fuga rem aut tempore quam debitis, quos accusamus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus ipsum est velit dolorem, eveniet, magni aliquam sunt animi laudantium eos tempore minus deserunt itaque quidem quas neque nostrum perspiciatis!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi optio numquam harum ullam, veniam laboriosam. Facilis dolore suscipit rerum, iusto quia veniam perspiciatis nulla neque quas voluptates consequuntur ab nisi.
                </p>
            </div>
            <div class="message-other">
                <p>Username</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi doloribus praesentium atque. Sed officia inventore dolore quam nisi dolores, qui delectus ut! Repudiandae impedit architecto suscipit recusandae consequatur ratione.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, illum quibusdam dolorem pariatur neque quod, impedit eveniet temporibus, corporis eaque voluptatem laboriosam. Repellat ullam explicabo, modi excepturi iste natus enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, corrupti eius, facere rerum eveniet perferendis modi nihil odit repellat esse, odio quas. Ducimus magni est maiores quas reiciendis deserunt consectetur.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente delectus labore adipisci exercitationem voluptatum libero ducimus eius quis placeat, odit repudiandae fuga rem aut tempore quam debitis, quos accusamus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus ipsum est velit dolorem, eveniet, magni aliquam sunt animi laudantium eos tempore minus deserunt itaque quidem quas neque nostrum perspiciatis!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi optio numquam harum ullam, veniam laboriosam. Facilis dolore suscipit rerum, iusto quia veniam perspiciatis nulla neque quas voluptates consequuntur ab nisi.
                </p>
            </div>
        </div>
        <div class="send-message-window">
            <input class="message-input" type="text" placeholder="Enter a message">
            <button class="send-button">Send</button>
        </div>
    </div>
</div>

{% endblock %}